{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>And we are the perfect library...</p>
<div class="row">
    <div class="col-md-8">
       <br/><br/><br/>  

        <p><img class ="img-thumbnail" src="../../static/app/media/lib1.jpg"/></p>
        <p><img class ="img-thumbnail" src="../../static/app/media/lib2.jpg"/></p>
        
        
    </div>
    <div class="col-md-4">
        <h2>For You.</h2>
        <p><img class ="img-thumbnail" src="../../static/app/media/image4.jpg"/></p>
    </div>
</div>


{% endblock %}
