{% extends "app/layout.html" %}
{% block content %}
<h2>Books</h2>
<table>
<tr>
	<td class="first">Title</td>	{#<td class="first">Autor</td>#} <td class="first">Year</td>
</tr>


{% for book in books %}

    <tr>
	    <td><a href="../{{ book.id }}">{{ book.title }}</a></td>	{#<td>{{ book.author }}</td>#} <td>{{ book.timestamp }}</td>
    </tr>


{% endfor %}
</table>
{% block new %}
<br />
<center><a href="./nowy/">Add Book</a></center><br>
{% endblock%}
{% endblock %}


{#/**#<h2>{{ book.title }}</h2>
<p>{{ book.timestamp }}</p>
<p>{{ book.about }}</p> *///#}