{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>My Django Library</h1>
    <p class="lead">A library is an organized collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing. It provides physical or digital access to material, and may be a physical building or room, or a virtual space, or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats. Libraries range in size from a few shelves of books to several million items.</p>
    <p><a href="http://en.wikipedia.org/wiki/Library" class="btn btn-primary btn-large">Learn more in Wiki &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>Read more about the Django Library Group.</p>
        <p><a class="btn btn-default" href="http://helion.pl/">Helion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>You can easily contact with us.</p>
        <p><a class="btn btn-default" href="/contact">Check us &raquo;</a></p>
    </div>
</div>

{% endblock %}
