{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>My Django Library</h1>
    <p class="lead">A library is an organized collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing. It provides physical or digital access to material, and may be a physical building or room, or a virtual space, or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats. Libraries range in size from a few shelves of books to several million items.</p>
    <p><a href="http://en.wikipedia.org/wiki/Library" class="btn btn-primary btn-large">Learn more in Wiki &raquo;</a></p>
</div>

{% endblock %}
