{% extends "app/layout.html" %}
{% block content %}
<h2>{{ book.title }}</h2>
<p>Year: {{ book.timestamp }}</p>
<p>Description: {{ book.about }}</p>
<center>
    <a href="./delete/{{ book.id }}">Delete Book</a><br/>
    <a href="./edit/{{ book.id }}/">Edit Book</a><br/>
</center>
<br />
<p>Comments:</p>
<form action="" method="post">
    {% csrf_token %} {#cross site request forgery protection#}
    <table>
        {{ form.as_table }}
    </table>
    <br />
    <center><input type="submit" value="Submit"></center>
</form>
<ul>
    {% for comment in comments %}
    <li>
        {{ comment.body }}
        <br />
        <p>Wyslane: {{ comment.timestamp }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}