body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*Parker Tabela*/
table {
    text-align: center;
    border: 1px solid; width: 50%;
    text-align: left;
    margin: 0 auto 0 auto; /* można zapisać krócej: margin: 0 auto; */
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

table td {
	background: #E0E0E0;
}

.first {
	/*background: #191919;*/
    background: #333
}

table td, table th {
	text-align: left;
	padding: .4em .8em;
	color:#999;
}
table th {
    background: rgba(0, 0, 0, 100)
}

h2{
    text-align: center;
}

/* unvisited link */
a:link {
    color: #999;
}

/* visited link */
a:visited {
    color: #999;
}

/* mouse over link */
a:hover {
    color: #999;
}

/* selected link */
a:active {
    color: #999;
}